
@model.CourseOverviewPage
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CourseOverviewPage
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <div class="course">
            <img class="course-image" src= "cat.png" alt="">
            <!---- <div class="course-date">
                <img class="calendar" src= calendar.png.  alt="">
                <div class="date">01.01.2021</div>
                <div class="date">31.12.2021</div>
            </div>
            <div class="course-name">COURSE NAME IN BIG LETTERS</div> -->
        </div>

    </div>
</body>
</html>
