@using EpiserverLearningPlatform
@model PageViewModel<EpiserverLearningPlatform.Models.Pages.AuthorizationPage>

<div class="">
    <div>
        <h1>@Html.PropertyFor(m => m.CurrentPage.Login)</h1>
        <h1>@Html.PropertyFor(m => m.CurrentPage.Password)</h1>       
    </div>
</div>