@using EpiserverLearningPlatform
@model PageViewModel<EpiserverLearningPlatform.Models.Pages.SiteSettingsPage>

<div>
    <h1>Site Settings</h1>
    <div>
        <input id="some-feature" type="checkbox" checked="@Model.CurrentPage.SomeFeatureEnabled" />
        <label for="some-feature">Some feature</label>
    </div>
</div>