@using EpiserverLearningPlatform
@model PageViewModel<EpiserverLearningPlatform.Models.Pages.SiteSettingsPage>

<div>
    <h1>Site Settings</h1>
    <div class="container-fluid">
        <input class="checkbox" id="some-feature" type="checkbox" checked="@Model.CurrentPage.SomeFeatureEnabled" />
        <label for="some-feature">Some feature</label>
        <img src="@Url.ContentUrl(Model.CurrentPage.HeaderLogo)" alt="" />
        <span class="span">@Model.CurrentPage.BrandText</span>
    </div>
</div>